{% extends "blog/base.html" %}
{% block title %}About My Blog{% endblock %}
{% block content %}
<div class="col-md-8">
    <h5 class="card-title">Your partner in EIM Journey</h5>
    <div class="row">

        <div class="card" style="width: 100%; ">

            <div class="card-body">
                <p class="card-text">
                    Organizations expect a lot from their enterprise information management (EIM) solutions to solve
                    challenges and achieve business results.
                    They require an exceptional user experience, from systems that are always available at optimal
                    performance, while effectively securing information.
                    Implementing a successful EIM solution has many challenges and different points of risk where a
                    project can fail. Not all organizations want to maintain the necessary in-house skills and expertise
                    to plan, deliver and adopt a successful EIM solution.

                    We engages customers to enable successful digital transformation by providing comprehensive services
                    across all phases ranging from planning to implementation, through to adoption, operation and
                    continuous improvement of the EIM solutions lifecycle concentrating over OpenText offerings.
                </p>
                <a href="mailto:mukesh.kgiri@gmail.com" class="btn btn-primary"><i class="fa fa-envelope"
                        style="margin-right: 10px;"></i>Email Me</a>
                <button class="btn btn-primary"><i class="fa fa-thumbs-up" style="margin-right: 10px;"></i>Like
                    Me</button>
            </div>
        </div>

    </div>
</div>
{% endblock content %}