{% load static %}
<footer class="main-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="logo">
          <h6 class="text-white">Bootstrap Blog</h6>
        </div>
        <div class="contact-details">
          <p>Richmond, Texas -77406</p>
          <p>Phone: (713) 557 3242</p>
          <p>Email: <a href="mailto:mukesh.kgiri@gmail.com">eimServices</a></p>

        </div>
      </div>
    </div>
  </div>
  <div class="copyrights">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p> Copyright &copy; eimServices
            <script>document.write(new Date().getFullYear())</script>.
          </p>
        </div>

      </div>
    </div>
  </div>
</footer>